@layer base {
  @font-face {
    font-family: 'Geist';
    src:
      url('/fonts/Geist-Regular.woff2') format('woff2'),
      url('/fonts/Geist-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist';
    src:
      url('/fonts/Geist-Medium.woff2') format('woff2'),
      url('/fonts/Geist-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist';
    src:
      url('/fonts/Geist-SemiBold.woff2') format('woff2'),
      url('/fonts/Geist-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist';
    src:
      url('/fonts/Geist-Bold.woff2') format('woff2'),
      url('/fonts/Geist-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist-Mono';
    src:
      url('/fonts/GeistMono-Regular.woff2') format('woff2'),
      url('/fonts/GeistMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist-Mono';
    src:
      url('/fonts/GeistMono-SemiBold.woff2') format('woff2'),
      url('/fonts/GeistMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
}
