name: Build, Test, Deploy
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  COMMIT_SHA: ${{ github.event.pull_request.head.sha || github.event.after }}
  CI: true
  ENV: ${{ ((github.head_ref || github.ref_name) == 'main') && 'production' || 'staging' }}
  MONGO_CONNECTION_STR: ${{ secrets.MONGO_CONNECTION_STR }}
  VITE_POSTHOG_API_KEY: ${{ secrets.VITE_POSTHOG_API_KEY }}

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build_e2e:
    name: Build frontend (E2E)
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up repository
      # node_modules will be cached once this step completes - for this reason, other jobs depend on this one
      uses: ./.github/actions/setup-repo

    - name: Build
      uses: ./.github/actions/build-frontend
      with:
        environment: ${{ env.ENV }}

  checks:
    name: Code quality checks
    needs: build_e2e
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up repository
      uses: ./.github/actions/setup-repo

    - name: Run code quality checks
      uses: ./.github/actions/checks

  test:
    name: Unit tests
    needs: build_e2e
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up repository
      uses: ./.github/actions/setup-repo

    - name: Run unit tests
      uses: ./.github/actions/tests

  e2e:
    name: e2e tests
    needs: build_e2e
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up repository
      uses: ./.github/actions/setup-repo

    - name: Run e2e tests
      uses: ./.github/actions/playwright
      with:
        environment: ${{ env.ENV }}
        auth-secret: ${{ secrets.AUTH_SECRET }}

  build:
    name: Build frontend (final)
    if: contains(github.event.pull_request.labels.*.name, 'preview') || github.ref_name == 'main'
    needs: [checks, test, e2e]
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up repository
      # node_modules will be cached once this step completes - for this reason, other jobs depend on this one
      uses: ./.github/actions/setup-repo

    - name: Build
      uses: ./.github/actions/build-frontend
      with:
        environment: ${{ env.ENV }}
        is_playwright: false

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    # TODO For each new project, configure deployment
    # - name: Deploy
    #   uses: ./.github/actions/deploy
    #   with:
    #     environment: ${{ env.ENV }}
    #     commit_sha: ${{ env.COMMIT_SHA }}
    #     github_token: ${{ secrets.GITHUB_TOKEN }}
    #     github_render_token: ${{ secrets.RENDER_GITHUB_ACCESS_TOKEN }}
    #     render_api_key_server: ${{ secrets.RENDER_API_KEY_SERVER }}
    #     render_owner_id: ${{ secrets.RENDER_OWNER_ID }}
    #     mongo_connection_str: ${{ secrets.MONGO_CONNECTION_STR }}
    #     aws_access_key_id: ${{ env.AWS_ACCESS_KEY_ID }}
    #     aws_secret_access_key: ${{ env.AWS_SECRET_ACCESS_KEY }}
    #     auth_secret: ${{ secrets.AUTH_SECRET }}
    #     auth_github_id: ${{ secrets.AUTH_GITHUB_ID }}
    #     auth_github_secret: ${{ secrets.AUTH_GITHUB_SECRET }}
